{%- assign refundTransactions = order.transactions | where: "kind", "refund" -%}

{%- if refundTransactions != blank -%}
  {%- liquid
    assign orderTagsArr = order.tags | join: ","
    assign totalRefund = order.total_refunded_amount
    assign dutiesRefund = refundTransactions[0].amount
    assign productsRefund = totalRefund | minus: dutiesRefund
  -%}

  {%- if orderTagsArr contains "無關稅退款" -%}
    <tr role="row">
      <td class="hidden md:table-cell p-2 md:px-4 text-h6 font-heading heading-case" id="RowTotal" role="rowheader" scope="row" colspan="4">商品退款</td>
      <td class="table-header" headers="RowTotal" role="cell" colspan="1" data-label="商品退款">- {{ totalRefund | money }}</td>
    </tr>
  {%- else -%}
      <tr role="row">
        <td class="hidden md:table-cell p-2 md:px-4 text-h6 font-heading heading-case" id="RowTotal" role="rowheader" scope="row" colspan="4">關稅退款</td>
        <td class="table-header" headers="RowTotal" role="cell" colspan="1" data-label="關稅退款">-  {{ dutiesRefund | money }} </td>
      </tr>
      <tr role="row">
        <td class="hidden md:table-cell p-2 md:px-4 text-h6 font-heading heading-case" id="RowTotal" role="rowheader" scope="row" colspan="4">商品退款</td>
        <td class="table-header" headers="RowTotal" role="cell" colspan="1" data-label="商品退款">- {{  productsRefund | money }}</td>
      </tr>
  {%- endif -%}

  <tr role="row" class="relative md:after:absolute md:after:top-0 md:after:bottom-0 md:after:left-0 md:after:right-0 md:after:bg-body md:after:opacity-10">
    <td class="hidden md:table-cell p-2 md:px-4 text-h6 font-heading heading-case" id="RowTotal" role="rowheader" scope="row" colspan="4">退款總額</td>
    <td class="table-header" headers="RowTotal" role="cell" colspan="1" data-label="退款總額">- {{  totalRefund | money }}</td>
  </tr>
{%- endif -%}